<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <H1>Admin</H1>

    <h3>Admin face reveal</h3>
    <ion-img src="https://media.discordapp.net/attachments/596794926688239617/1150916080630509628/328790645_1948976202125858_2223523011235268521_n.jpg?ex=656e4e20&is=655bd920&hm=bb5c533bc559c2d9a464fa06ddf76fa0f848428b2edc7fb343e16bfe16b109c0&=&format=webp"></ion-img>

    <h5>Informacion del usuario:</h5>
    <p>Nombre: ADMIN</p>
    <p>Correo: Admin@admin.admin</p>
    <p>telefono: 97685678</p>
  </ion-card>
  
    

    <ion-button (click)="goHome();">Home</ion-button>
  
</ion-content>
