<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Items</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button (click)="goHome();">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor ="let item of items" (click)=goTo(item.id)>

      <ion-label>{{item.name}}</ion-label>
      <ion-avatar>
        <img src={{item.imageURL}}>
      </ion-avatar>
    </ion-item>

    <ion-button (click)="goToAdd();">Agregar un Item</ion-button>
  </ion-list>

  

</ion-content>


