<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="credentials">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeHolder="Email" formControlName="email" ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeHolder="Ingrese su contraseña" formControlName="password" ></ion-input>
    </ion-item>
  </form>
  <ion-button type="button" (click)="register()">Registrarse</ion-button>
  <ion-button (click)="login();">Logearse</ion-button>
</ion-content>
