<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <h1>Examen (Porfarvor no nos mate:C pipipi )</h1>
    <ion-img src="https://media.discordapp.net/attachments/596794926688239617/1150919311628701756/F5J2LA2WkAAqvgy.jpg?ex=656e5122&is=655bdc22&hm=407591bdadbf877736f9cdc8d5ab1626c1c192022ac58ecefa83f83d5dff2e9f&=&format=webp"></ion-img>
    <ion-button (click)="goTo('items');">Ver cosas agregadas</ion-button>
    <ion-img src="https://media.tenor.com/-FvwA5X3SUsAAAAM/cat-shoked-shocked-cat.gif"></ion-img>
    <ion-button (click)="goTo('perfil');">Ver perfil de usuario</ion-button>
    <ion-img src="https://media.discordapp.net/attachments/596794926688239617/1148463790761979944/F5CSdnZW0AELFvS.jpg?ex=656e9cc1&is=655c27c1&hm=253366267231dfb02d3b06a9b971b5da0bda5422ae3a63ce0e424d8cdc6bc9aa&=&format=webp&width=568&height=676"></ion-img>
  <ion-button (click)="logout();">Salir</ion-button>


  </ion-card>

  
</ion-content>
